.button {
  width: 100%;
  padding: 1rem;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;

  &:disabled {
    cursor: not-allowed;
  }
}

.primary {
  background-color: #006caf;
  color: #fff;

  &:hover {
    background-color: #0079c5;
  }

  &:active {
    background-color: #008be1;
    transform: scale(97.5%);
  }
}

.secondary {
  border: 1px solid #888;
  background-color: #fff;
  color: #000;

  &:hover {
    border-color: #006caf;
    color: #006caf;
  }

  &:active {
    border-color: #00456f;
    color: #00456f;
    transform: scale(97.5%);
  }
}
