.button {
  width: 100%;
  padding: 1rem;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.primary {
  color: #fff;
  background-color: #006caf;

  &:hover {
    background-color: #0079c5;
  }

  &:active {
    transform: scale(97.5%);
    background-color: #008be1;
  }
}

.secondary {
  color: #000;
  border: 1px solid #888;
  background-color: #fff;

  &:hover {
    color: #006caf;
    border-color: #006caf;
  }

  &:active {
    color: #00456f;
    border-color: #00456f;

    transform: scale(97.5%);
  }
}
